<% if current_user %>
  <p>Welcome back, <%= current_user.name %>!</p>

  <h2>Here's a list of all the questions you've asked:</h2>
  <% if @user.questions == [] %>
    <%= "You haven't answered any questions yet!" %>
  <% else %>
    <% @user.questions.each do |question| %>
    <ul>
      <li>
        <%= question.text %>
      </li>
    </ul>
    <% end %>
  <% end %>

  <h2>The questions you've answered:</h2>
    <% @user.answered_questions.each do |question| %>
    <ul>
      <li>
        <%= question.text %>
      </li>
    </ul>
    <% end %>

<% else %>
  <p>Hello! Please login to continue</p>
    <!-- <a href="/">please register/log in first</a> -->
<% end %>

<!-- put hyperlinks to questions on user page -->
