<% if current_user %>
  <h1> Hello <%= current_user.name.capitalize %></h1>
  <a href="/">Home</a>
  <a href="/users/<%= current_user.id %>">Profile</a>
  <a href="/questions/new">Ask a question</a>
  <br>
  <form action='/sessions/logout' method='get'>
  <br>
    <button type='submit'>Logout</button>
  </form>
<% else %>

  <nav>
  <ul class="tabs">
    <li class="active"><a href="#registration">Register</a></li> 
    <li><a href="#login">Login</a></li>
    <li><a href="/">Home</a></li>
  </ul>

  <div class="tab-content" id="registration">
    <form action="/users" method="post">
      <label>Name: </label>
      <input type="text" name="user[name]">
      <label>Email: </label>
      <input type="email" name="user[email]">
      <label>Password: </label>
      <input type="password" name="user[password]" placeholder="password">
    <br>
      <input type="password" name="password_confirm" placeholder="confirm password">
    <br>
      <input type="submit" name="Click to register">
    </form>
  </div>
  <div class="tab-content" id="login">
    <form action="/sessions" method="post">
      <input type="text" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="submit">
    </form>
 </div>
 </nav>



<% end %>
<br>
<div class="pusheen">
  <img src='http://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/13767458_158136971285141_1490809401_n.jpg?ig_cache_key=MTMxMjc2NzYzNTQxNDM1OTc4OQ%3D%3D.2' width=150  height=150>
</div>
